<h1>Invoices</h1>
<table>
  <tr>
    <th>Invoice Id</th>
    <th>Customer</th>
  </tr>
  <tr>
    <td><%= render :partial => "invoice", :collection => @invoices  || "There are no invoices!" %><%#= render(@invoices) ||  %></td>
  </tr>
</table>
